@font-face {
  font-family: BricolageGrotesque;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}
@font-face {
  font-family: DMsans;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

* {
  /* font-family: ; */
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DMsans;
}

body {
  background-color: #03012d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p{
  font-size: small;
  color: #aeaeb7;
}
.top,
.bottom {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
div.top {
  height: 35%;
}
div.bottom {
  height: 60%;
}

#weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width:85vw;
  height: 90vh;
}
#navigationBar {
  width: 100%;
  display: inherit;
  height: 15%;
  justify-content: space-between;
}
header {
  text-align: center;
  height: 60%;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
header h1{
  font-size: 2.5em;
}
header form {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  padding: 10px;
  border-radius: 7px;
  background-color: #272541;
  outline: none;
  width: 300px;
  height: 50px;
  border: none;
}
header button {
  padding: 0 20px;
  margin-left: 5px;
  border: none;
  height: 50px;
  margin-left: 10px;
  border-radius: 7px;
  background-color: #4455da;
}

main {
  width: inherit;
  margin: 20px;
  height: 100%;
}
main section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
main section .left {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left .today,
.left .weekly  {
  height: 35%;
}
.left .parameters{
  height: 23%;
}
.weekly{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.days{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}
.weekly .days .day{
  margin:  0 1px;
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:  #272541;
  border-radius: 8px;
  width: 13%;
  text-align: center;
}
li{
  list-style-type: none;
  width: 100%;
}
.weekly li img{
  width: 50%;
}
.weekly .temp{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  margin: 0 10px 10px 10px;
  padding: 0 5px;
}
main section aside {
  width: 30%;
}
.parameters{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.parameter{
  background-color: #272541;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  width: 23%;
  margin: 0 3px 0 0;
}

.today{
  background-image: url(assets/images/bg-today-large.svg);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.today .nameDate{
  width: 55%;
}
.today .weatherTemp{
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
}
.today img{
  width: 2.5em;
  font-size: 0.5em;
}

.right{
  background-color: #272541;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
}
aside .top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  font-size: smaller;
  height: 60px;
  height: 10%;
  
}
.hours{
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
  width: 100%;
  scrollbar-color: #3d3b5e transparent;
  
}

.hour{
  width: 90%;
  padding: 6px 0;
  margin: 3px 0;
  display: inherit;
  border-radius: 10px;
  background-color: #3d3b5e;
}


select{
  border: none;
  outline: none;
  float: right;
  display: block;
  background-color: #3d3b5e;
  padding: 3px;
  border-radius: 5px;
}
select:active{
  background-color: green;
  outline: none;
}
option{
  background-color: #272541;
  border: none;
  outline: none;
  margin: 3px;
  
}
option:hover{
  accent-color: green;
}

.hourlycode{
  width:2em;
}
.lefthour{
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.hourtemp{
  display: flex;
  justify-content: right;
  width: 53%;
  align-items: center;
}


/* header units styling */
































footer {
  position: sticky;
  top: 100%;
  height: fit-content;
  margin-top: 30px;
}
footer.attribution {
  font-size: 11px;
  text-align: center;
  color: #272541;
}
footer.attribution a {
  color: #3e52a3;
}
