@font-face {
  font-family: BricolageGrotesque;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}
@font-face {
  font-family: DMsans;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}

* {
  font-family: ;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid; */
}

body {
  background-color: #03012d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top,
.bottom {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
div.top {
  height: 25%;
}
div.bottom {
  height: 70%;
}

#weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
  height: 95vh;
}
#navigationBar {
  width: 100%;
  display: inherit;
  height: 15%;
  justify-content: space-between;
  /* margin-bottom: 50px; */
}
header {
  text-align: center;
  height: 60%;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
header form {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  padding: 10px;
  border-radius: 7px;
  background-color: #272541;
  outline: none;
  width: 60%;
  height: 60%;
  border: none;
}
header button {
  padding: 0 20px;
  margin-left: 5px;
  border: none;
  height: 60%;
  border-radius: 7px;
  background-color: #4455da;
}

main {
  width: inherit;
  margin: 20px;
  height: 100%;
}
main section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
main section .left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .day,
.left .weekly  {
  height: 35%;
}
.left .parameters{
  height: 25%;
  border: 2px solid blue;
}
.left .day{
  border: 2px solid green;
}
aside{
  border: 2px solid orange;
}
.weekly{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.days{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75%;
  width: 100%;
}
.weekly div div{
  margin:  0 1px;
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color:  #272541;
  border-radius: 8px;
}
li{
  list-style-type: none;
}

main section aside {
  width: 35%;
}


footer {
  position: sticky;
  top: 100%;
  height: fit-content;
  border: 2px solid;
}
footer.attribution {
  font-size: 11px;
  text-align: center;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
}
